#logo-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:url("../../../assets/images/startup-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
#logo-container > img {
    width: 40%;
    height: auto;
}
h1{
    font-family: 'MS SansSerif Bold';
    text-transform: uppercase;
    font-size: 35px;
}
#loading-bar {
    background-color: #bdbdbd;
	width: 294px;
	height: 25px;
    height: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
   
}
.sub-block {
    background-color: #000080;
    display: inline-block;
    width: 20px;
    height: 30px;
    margin-right: 1px;

}
.action{
    font-size: 23px;
}
