<div class="color-box">
    <div class="swatch current-color">
        <div #selectedColor></div>
    </div>
    <div #palette class="palette interactiveElement">
        <div class="row">

            <div #colorButton class="swatch color-button" data-color="rgb(0,0,0)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(128,128,128)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(128,0,0)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(128,128,0)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,128,0)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,128,128)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,0,128)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(128,0,128)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(128,128,64)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,64,64)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,128,255)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,64,128)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(64,0,255)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(128,64,0)"></div>            
        </div>
        <div class="row">

            <div #colorButton class="swatch color-button" data-color="rgb(255,255,255)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(192,192,192)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(255,0,0)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(255,255,0)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,255,0)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,255,255)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,0,255)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(255,0,255)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(255,255,128)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(0,255,128)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(128,255,255)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(128,128,255)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(255,0,128)"></div>
            <div #colorButton class="swatch color-button" data-color="rgb(255,128,64)"></div>
                        
        </div>
    </div>
</div>
